<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Lab05OntapJavaEE</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Product</display-name>
    <servlet-name>Product</servlet-name>
    <servlet-class>devmaster.edu.vn.beans.Product</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Product</servlet-name>
    <url-pattern>/Product</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAccount</display-name>
    <servlet-name>UserAccount</servlet-name>
    <servlet-class>devmaster.edu.vn.beans.UserAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAccount</servlet-name>
    <url-pattern>/UserAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConnectionUtils</display-name>
    <servlet-name>ConnectionUtils</servlet-name>
    <servlet-class>devmaster.edu.vn.conn.ConnectionUtils</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectionUtils</servlet-name>
    <url-pattern>/ConnectionUtils</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginUtils</display-name>
    <servlet-name>LoginUtils</servlet-name>
    <servlet-class>devmaster.edu.vn.utils.LoginUtils</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUtils</servlet-name>
    <url-pattern>/LoginUtils</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductUtils</display-name>
    <servlet-name>ProductUtils</servlet-name>
    <servlet-class>devmaster.edu.vn.utils.ProductUtils</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductUtils</servlet-name>
    <url-pattern>/ProductUtils</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>devmaster.edu.vn.servlet.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/HomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductListServlet</display-name>
    <servlet-name>ProductListServlet</servlet-name>
    <servlet-class>devmaster.edu.vn.servlet.ProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductListServlet</servlet-name>
    <url-pattern>/ProductListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductCreateServlet</display-name>
    <servlet-name>ProductCreateServlet</servlet-name>
    <servlet-class>devmaster.edu.vn.servlet.ProductCreateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductCreateServlet</servlet-name>
    <url-pattern>/ProductCreateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductEditServlet</display-name>
    <servlet-name>ProductEditServlet</servlet-name>
    <servlet-class>devmaster.edu.vn.servlet.ProductEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductEditServlet</servlet-name>
    <url-pattern>/ProductEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductDeleteSevlet</display-name>
    <servlet-name>ProductDeleteSevlet</servlet-name>
    <servlet-class>devmaster.edu.vn.servlet.ProductDeleteSevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDeleteSevlet</servlet-name>
    <url-pattern>/ProductDeleteSevlet</url-pattern>
  </servlet-mapping>
</web-app>