<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>VuThiThanhThao_2110900085</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>VuThiThanhThao_2110900085_Book</display-name>
    <servlet-name>VuThiThanhThao_2110900085_Book</servlet-name>
    <servlet-class>VuThiThanhThao.beans.VuThiThanhThao_2110900085_Book</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VuThiThanhThao_2110900085_Book</servlet-name>
    <url-pattern>/VuThiThanhThao_2110900085_Book</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VuThiThanhThaoConnection</display-name>
    <servlet-name>VuThiThanhThaoConnection</servlet-name>
    <servlet-class>VuThiThanhThao.conn.VuThiThanhThaoConnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VuThiThanhThaoConnection</servlet-name>
    <url-pattern>/VuThiThanhThaoConnection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VuThiThanhThao_BookUtils</display-name>
    <servlet-name>VuThiThanhThao_BookUtils</servlet-name>
    <servlet-class>VuThiThanhThao.utils.VuThiThanhThao_BookUtils</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VuThiThanhThao_BookUtils</servlet-name>
    <url-pattern>/VuThiThanhThao_BookUtils</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VuThiThanhThao_BookListServlet</display-name>
    <servlet-name>VuThiThanhThao_BookListServlet</servlet-name>
    <servlet-class>VuThiThanhThao.servlet.VuThiThanhThao_BookListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VuThiThanhThao_BookListServlet</servlet-name>
    <url-pattern>/VuThiThanhThao_BookListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VuThiThanhThao_BookCreateServlet</display-name>
    <servlet-name>VuThiThanhThao_BookCreateServlet</servlet-name>
    <servlet-class>VuThiThanhThao.servlet.VuThiThanhThao_BookCreateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VuThiThanhThao_BookCreateServlet</servlet-name>
    <url-pattern>/VuThiThanhThao_BookCreateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VuThiThanhThao_BookEditServlet</display-name>
    <servlet-name>VuThiThanhThao_BookEditServlet</servlet-name>
    <servlet-class>VuThiThanhThao.servlet.VuThiThanhThao_BookEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VuThiThanhThao_BookEditServlet</servlet-name>
    <url-pattern>/VuThiThanhThao_BookEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VuThiThanhThao_BookDeleteServlet</display-name>
    <servlet-name>VuThiThanhThao_BookDeleteServlet</servlet-name>
    <servlet-class>VuThiThanhThao.servlet.VuThiThanhThao_BookDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VuThiThanhThao_BookDeleteServlet</servlet-name>
    <url-pattern>/VuThiThanhThao_BookDeleteServlet</url-pattern>
  </servlet-mapping>
</web-app>